@import "tailwindcss";

@theme {
  --color-brand-bg: #030508;
  --color-card-bg: rgba(255, 255, 255, 0.03);
  --color-accent-blue: #0070ff;
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    perspective: 1200px; /* This creates the 3D depth */
    overflow-x: hidden;
  }

  #root {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}